/* DESIGNED FOR THE SAMSUNG GALAXY S4 */

* {
	padding: 0;
	margin: 0;
}

body {

	width: 360px;
	height: 640px ;
}

#title {
	font-family: 'Questrial', sans-serif;
	color: white;
	font-weight: 100;
	font-size: 40px;
	text-align: center;
	position: fixed;
	top: 85px;
	left: 0;
	right: 0;
	background-color: #01403B;
	z-index: 1;
}

#titlepad {
	width: 100%;
}

#third {
	top: 0px;
	width: 100%;
	position: fixed;
	height: 213px;
	background-color: #01403B;
	z-index:0;
}

#second {
	height: 213px;
	top: 213px;
	position: fixed;
	width: 100%;
	background-color: #027F76;
}

#three {
	height: 213px;
	bottom: 0px;
	position: fixed;
	width: 100%;
	background-color: white;
}


#buttons {
/*	height: 40px;
	width: 169px;
	background-color: #007F77;
	border-bottom-color: #00403B;
	border-bottom-width: 6px;
	border-bottom-style: solid;
	position: fixed;
	bottom: 253px;
	left: 95.5px;
*/}

#resettext {
	font-family: "Helvetica Neue";
	font-weight: lighter;
	color: white;
	text-align: center;
	position: relative;
	top: 9px;
}

#circle {
	width: 273px;
	height: 273px;
	background-color: #FF6440;
	z-index: 0;
	visibility: hidden;
}

#up {
	bottom: 0px;
	position: fixed;
	height: 84px;
	width: 84px;
	z-index: 10;
	left: 96px;
}

#down {
	bottom: 0px;
	position: fixed;
	height: 84px;
	width: 84px;
	z-index: 10;
	left: 179px;
	/* 213 is a third of the height*/
	/* 84 is the height of the button */
	/* 64.5 is the padding thats needed */
	/* 64.5 + the position of the second frame, then the buttons are in the center */
	/* these 2 buttons are taking up 168px */

}

.increase_temperature {
	position: fixed;
	text-shadow: 1px 1px 1px #027F76;
	top: 500px;
	left: 105px;
	font-size: 100px;
	font-family: "Questrial";
	font-weight: 300;
	text-align: center;
	z-index: 100;
	text-decoration: none;
	color: #027F76;
}

.decrease_temperature {
	position: fixed;
	top: 504px;
	right: 105px;
	text-shadow: 1px 1px 1px #027F76;
	font-size: 100px;
	font-family: "Questrial";
	font-weight: lighter;
	text-align: center;
	z-index: 100;
	font-weight: 300;
	text-decoration: none;
	color: #027F76;
}

.reset {
	position: fixed;
	bottom: 220px;
	right: 152px;
	font-size: 30px;
	font-family: "Helvetica Neue";
	font-weight: 200;
	text-align: center;
	z-index: 100;
	text-decoration: none;
	color: white;
}

.powersaveroff {
	position: fixed;
	bottom: 130px;
	right: 60px;
	font-size: 30px;
	font-family: "Helvetica Neue";
	font-weight: 200;
	text-align: center;
	z-index: 100;
	text-decoration: none;
	color: #01403B;
	width: 30%;
}

.powersaveron {
	position: fixed;
	bottom: 130px;
	left: 60px;
	font-size: 30px;
	font-family: "Helvetica Neue";
	font-weight: 200;
	text-align: center;
	z-index: 100;
	text-decoration: none;
	color: #01403B;
		width: 30%;
}

#temp {
	font-size: 105px;
	text-align: center;
	color: white;
	position: fixed;
	bottom: 400px;
	font-family: "Helvetica Neue";
	font-weight: 200;
	z-index: 100;
	top: 253px;
	left: 115px;
}
